<a href="https://select2.org" target=”_blank”>Link to Select2</a>
<br />
<a href="https://github.com/alejandropj/Select2Demo" target=”_blank”>Link to my Repo</a>
<br />
<a href="https://www.linkedin.com/in/alejandroparrajimenez" target=”_blank”>Link to my LinkedIn</a>
<br />